<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="@Url.Content("/Content/images/favicon.ico")" />
    <link href="~/Content/styles/main.css" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Portfolio | Brian Barrow</title>
</head>
<body>
    <div class="header-bar">
        <h1 class="header-name"><a href="#">Brian Barrow</a></h1>
        <div class="header-links">
            <div class="link" target="_blank"><a href="@Url.Content("~/")">Projects</a></div>
            <div class="link" target="_blank"><a href="@Url.Content("~/Portfolio/About")">About</a></div>
            <div class="link">
                <a href="https://github.com/briancbarrow" target="_blank">
                    <i aria-hidden="true" class="fa fa-github"></i> Github
                </a>
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <a class="contact-link" href="https://github.com/briancbarrow" target="_blank"><i aria-hidden="true" class="fa fa-github fa-lg"></i></a>
            <a class="contact-link" href="https://www.linkedin.com/in/barrowbrian" target="_blank"><i aria-hidden="true" class="fa fa-linkedin fa-lg"></i></a>
            <a class="contact-link" href="https://twitter.com/the_BrianB" target="_blank"><i aria-hidden="true" class="fa fa-twitter fa-lg"></i></a>
        </footer>
    </div>
</body>
</html>
